%h2 edit user pas devise
= form_for(@user) do |f|
  = render 'shared/error_messages', :object => f.object
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :site
    %br/
    = f.text_field :site
  %p
    = f.label :twitter
    %br/
    = f.text_field :twitter
  %p
    = f.label :photo
    %br/
    = f.text_field :photo
  %p
    = f.label :short_bio
    %br/
    = f.text_field :short_bio
  %p
    = f.label :bio
    %br/
    = f.text_field :bio
  %p= f.submit "Update"
%p
  = link_to "Back", :back
